body {
    margin: 0;
    background-color: gray;
}

@font-face {
    font-family: franklin_gothic_heavy;
    src: url('../assets/fonts/franklin_gothic_heavy.ttf');
}

/* @font-face {
    font-family: just_kids;
    src: url('../assets/fonts/just_kids.ttf');
}

@font-face {
    font-family: lapsus_pro;
    src: url('../assets/fonts/lapsus_pro.otf');
} */